.form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-img {
	img {
		display: inline-block;
		margin: 0 auto;
		width: 75%;
		height: 97vh;
		object-fit: cover;
	}
}

@media screen and (max-width: 767px) {
	.form-img {
		display: none;
	}
}
