.sign-up-img {
	display: block;
	padding: 2rem 2rem;
	width: 40%;
	height: 85vh;
	object-fit: cover;
	object-position: 50% 38%;
	transform: scaleX(-1);
}

.submit-btn {
	width: 100%;
	cursor: pointer;
	background-color: var(--indigo-700);
	color: white;
	padding: 0.6rem;
	border-radius: 3px;
	border: none;
}

.sign-in-tag {
	text-align: center;
	font-size: 90%;

	a {
		color: var(--indigo-700);
		cursor: pointer;
	}
}

@media screen and (max-width: 767px) {
	.sign-up-img {
		display: none;
	}
}
